@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'InterTitle'; /* Puedes darle el nombre que quieras, pero usa uno descriptivo */
  src: url('../fonts/Inter_24pt-ExtraBold.ttf') format('truetype'); /* Ruta relativa a tu archivo CSS */
  font-weight: normal; /* O el peso que tenga tu archivo .ttf específico (puedes tener varios archivos para distintos pesos) */
  font-style: normal;
  font-display: swap; /* Muy importante para el rendimiento y la experiencia de usuario */
}

@font-face {
  font-family: 'InterLinks'; /* Puedes darle el nombre que quieras, pero usa uno descriptivo */
  src: url('../fonts/Inter_24pt-SemiBoldItalic.ttf') format('truetype'); /* Ruta relativa a tu archivo CSS */
  font-weight: normal; /* O el peso que tenga tu archivo .ttf específico (puedes tener varios archivos para distintos pesos) */
  font-style: normal;
  font-display: swap; /* Muy importante para el rendimiento y la experiencia de usuario */
}

@font-face {
  font-family: 'InterRegular'; /* Puedes darle el nombre que quieras, pero usa uno descriptivo */
  src: url('../fonts/Inter_24pt-Medium.ttf') format('truetype'); /* Ruta relativa a tu archivo CSS */
  font-weight: normal; /* O el peso que tenga tu archivo .ttf específico (puedes tener varios archivos para distintos pesos) */
  font-style: normal;
  font-display: swap; /* Muy importante para el rendimiento y la experiencia de usuario */
}

.InterTitle{
  font-family: 'InterTitle', sans-serif;
}

.InterLinks{
  font-family: 'InterLinks', sans-serif;
}

html {
  overflow-y: scroll;
  color-scheme: light;
}

:root {
  --secondary: 105, 174, 123;
  --accent: 0, 0, 0;
  --accent-bg: 245, 245, 245;
  --accent-header: 252, 252, 252;

  --secondary-logo: rgb(105, 174, 123);
  --primary-logo: rgb(0, 0, 0);

  --brightness: 1.0;
  --contrast: 1.0;
  --saturate: 1.0;
  --blur: 0.0px;
}



body {
  transition: all 0.3s ease-in-out;
  font-family: 'InterRegular', sans-serif;
}

option:hover {
  background-color: yellow;
}

@layer base {
  :root {
    @apply overflow-y-scroll scroll-smooth bg-accent-bg underline-offset-4 selection:bg-accent/90 selection:text-accent-bg ;

    #page-wrapper {
      @apply mx-auto flex min-h-[100svh] w-full flex-col justify-normal text-accent;
    }
  }

  ::-webkit-scrollbar {
    @apply h-1 w-2;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-accent;
    border-radius: 3pt;
  }

  ::-webkit-scrollbar-track {
    @apply bg-accent/25;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-accent/75;
  }
}

@layer utilities {
  .clickable {
    @apply cursor-pointer opacity-75 transition duration-500 ease-in-out hover:text-accent hover:opacity-100;
  }

  .animate-links {
    a {
      position: relative;
      /* Necesario para controlar la posición del subrayado */
      /* padding-bottom: 4px; */
      /* Espacio entre texto y subrayado */
    }

    a::after {
      
      content: '';
      /* Genera el subrayado */
      position: absolute;
      left: 0;
      right: 0;
      bottom: 7px;
      /* Parte inferior del padding del texto */
      height: 2px;
      /* Grosor del subrayado */
      background-color: rgba(var(--accent), 0.75);
      /* Color del subrayado */
      transform: scaleX(0);
      /* Oculta inicialmente */
      transform-origin: left;
      /* La animación comienza desde la izquierda */
      transition: transform 0.4s cubic-bezier(0.65, -0.05, 0.25, 1);
    }

    a:hover::after {
      transform: scaleX(1);
      /* Muestra el subrayado al pasar el cursor */
    }
  }

  img[data-img-embed=''],
  img[data-img-embed='true'] {
    @apply rounded border border-accent;
  }

  span>span:hover {
    position: absolute;
    padding: 2pt 10pt 2pt 10pt;
    border: 1px solid rgba(var(--accent), 1);
    background-color: rgba(var(--accent-bg), 0.85);
    color: rgba(var(--accent), 1.0);
  }
}

header {
  @apply fixed top-0 left-0 right-0 z-50 py-4;
  @apply bg-accent-bg/75;
  @apply backdrop-blur-sm saturate-200;
}

main {
  @apply flex-1 pt-16 pb-8;
}

footer {
  @apply py-5 text-sm;
}

.animate {
  @apply opacity-0 translate-y-3;
  @apply transition-all duration-700 ease-out;
}

.animate.show {
  @apply opacity-100 translate-y-0;
}

html #back-to-top {
  @apply opacity-0 pointer-events-none;
}

html.scrolled #back-to-top {
  @apply opacity-100 pointer-events-auto;
}

@media print {
    .no-print {
        display: none !important;
    }

    main {
      @apply pt-0 pb-0;
    }
}

@media print {
    .yes-print {
        display: block !important;
    }
}

.yes-print {
    display: none;
}

/* Quitar imagen 000webhost */
img[src*="https://www.000webhost.com/static/default.000webhost.com/images/powered-by-000webhost.png"]{
    display: none;
}