---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
import { useTranslations } from "@i18n/utils/utils.ts";

const lang = Astro.url.pathname.includes("/en/") ? "en" : "es";
const t = useTranslations(lang);
---

<footer class="animate no-print">
  <Container>
    <div class="flex flex-wrap justify-between pb-10">
      <div class="hidden sm:flex justify-between items-center text-base text-accent">
        <div class="pb-1.5">
          &copy; 2024 {`|`}
          {SITE.NAME}
        </div>
      </div>
      <nav class="flex gap-1 items-center text-base text-accent pb-0">
        <Link href={`/legal/${lang}/`} textsize="text-base"> {t("nav.legal")} </Link>
        <span class="pb-1">
          {`|`}
        </span>
        <Link href={`/privacy/${lang}/`} textsize="text-base"> {t("nav.privacy")} </Link>
        <span class="pb-1">
          {`|`}
        </span>
        <Link href={`/cookies/${lang}/`} textsize="text-base"> {t("nav.cookies")} </Link>
      </nav>
    </div>
  </Container>
</footer>
