---
import Container from "@components/Container.astro";
import LandingLayout from "@layouts/LandingLayout.astro";
import SuscribeNLComponent from "@components/SuscribeNLComponent.astro";
import "@/styles/article.css";
import { SITE, HOME, SOCIALS } from "@consts";

const lang = Astro.url.pathname.includes("/en/") ? "en" : "es";
---

<LandingLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
    <Container>
        <div
            class="flex flex-col items-center sm:flex-row sm:space-x-12 sm:space-y-0 space-y-8 my-24"
        >
            <div class="flex flex-col justify-center space-y-2 no-print w-full">
                <div class="space-y-1 text-center w-full">
                    <h1 class="animate InterTitle text-accent text-5xl">
                        ¿Crees que ganarse la vida como GameDev es jodido?
                    </h1>
                    <p
                        class="animate text-accent text-4xl InterTitle text-accent/45"
                    >
                        La respuesta es sí.
                    </p>
                </div>
            </div>
        </div>

        <div class="space-y-10 my-16">
            <section>
                <article class="animate">
                    <p>
                        Hice lo que se supone que había que hacer. Carrera,
                        máster y a currar. La carrera de la rata, ya sabes.
                    </p>

                    <p>
                        Primero, en una empresa de programación web con C++.
                        Luego en una de VR con Unreal donde, la verdad, molaba
                        más. Todo iba bien.
                    </p>

                    <p>
                        Hasta que la realidad me echó una jarra de agua fría
                        encima. Despido. Y a los pocos meses, la empresa quebró.
                        (Si te soy sincero, la cosa ya olía desde hacía tiempo).
                    </p>

                    <p>
                        Ahí llegó el síndrome del impostor. Normal, había vivido
                        demasiado cómodo.
                    </p>

                    <p>
                        Pero de la nada surgió un proyecto. Como freelance (que
                        suena muy bien). La idea era ser un falso autónomo
                        mientras buscaba otra cosa. Un plan sin fisuras.
                    </p>

                    <p>
                        Problema, lo que puedes imaginar (o no). Le pillé el
                        gustito a eso de ser "mi propio jefe".
                    </p>

                    <p>
                        Con todos sus contras, la libertad de elegir dónde te
                        metes, desde donde y cuando trabajas, no tiene precio.
                        Poder decir "no" a proyectos que no iban a ninguna parte
                        y meterme en fregados tecnológicos que de verdad les
                        veía sentido.
                    </p>

                    <p>
                        Llevar el desarrollo de un sistema multijugador XR para
                        que 20 personas interactuaran a la vez en una sala de
                        museo de 1000m². O crear soluciones de gamificación con
                        cámaras de profundidad.
                    </p>

                    <p>
                        He visto la parte bonita de ser freelance. Y también su
                        lado oscuro. La soledad, la incertidumbre y la señora
                        Hacienda.
                    </p>

                    <p>
                        Por eso con el objetivo de continuar como autónomo. Mi
                        intención es seguir creando y construyendo experiencias
                        inmersivas para clientes. Pero, como la mayoría de
                        desarrolladores siempre he querido tener mi propio
                        juego. Y en eso estoy, creando mi primer videojuego.
                    </p>

                    <p>
                        Todo lo que ocurre en este camino, el del freelance que
                        sobrevive y el del creador que empieza de cero, lo estoy
                        contando en una newsletter.
                    </p>

                    <p>
                        La cruda realidad de esta industria. La mezcla de la
                        experiencia profesional con el vértigo de <strong
                            >crear un juego Indie.</strong
                        >
                    </p>

                    <p>
                        Si te va el morbo de ver cómo se equilibra todo esto,
                        aprender de las hostias que me voy dando y la
                        experiencia de cómo construir mi propia libertad como
                        GameDev,
                        <strong>Suscríbete aquí ↓</strong>
                    </p>
                    <SuscribeNLComponent />

                    <h2>Vale, ¿qué NO es esto?</h2>
                    <p>
                        Seamos claros. No soy el tipo que trabajó en Activision
                        Blizzard. Ni el que programó las físicas de los huevos
                        de los caballos en Red Dead Redemption 2. (Busca el
                        vídeo. En serio).
                    </p>
                    <p>
                        Aquí NO encontrarás el "truco definitivo" para crear el
                        siguiente Stardew Valley. Tampoco la fórmula para ser
                        programador de Rockstar en 10 días.
                    </p>
                    <p>
                        Si buscas soluciones mágicas, este no es tu sitio. Hazte
                        un favor y pulsa Ctrl + W.
                    </p>
                    <p>
                        Lo que sí encontrarás es mi realidad. Un email diario de
                        un tío con experiencia en la industria que está lidiando
                        con los mismos problemas que tú, ahora mismo. (O en un
                        futuro)
                    </p>

                    <SuscribeNLComponent />

                    <h2>¿Por qué un email cada día? ¿Estás loco?</h2>
                    <p>
                        Sí, un poco. Es lo que me mantiene en acción. Esto es lo
                        que te llevas cada mañana con tu café:
                    </p>
                    <ul>
                        <li>
                            <strong>Una dosis diaria de realidad.</strong> Un avance,
                            un bug eterno, una reflexión sobre la industria. Un chute
                            de 2 minutos para que veas que no estás solo en esta
                            mierda.
                        </li>
                        <li>
                            <strong
                                >El manual de supervivencia freelance.</strong
                            > Te cuento cómo consigo clientes, gestiono proyectos
                            y sobrevivo a Hacienda. Puros dramas.
                        </li>
                        <li>
                            <strong>Atajos nacidos de mis hostias.</strong> Aprenderás
                            más de mi código roto y mis malas decisiones que de 10
                            tutoriales fancy.
                        </li>
                        <li>
                            <strong>Es gratis.</strong> Sí, gratis. Y el botón para
                            darte de baja es tan grande que podrías pulsarlo con
                            el codo. Si te agobio, te vas. Fin.
                        </li>
                    </ul>
                    <SuscribeNLComponent />
                </article>
            </section>
        </div>
    </Container>
</LandingLayout>
